<%- include('./header.ejs') %>

<div class="blog-container">
    <div class="blog-manipulation-box">
        <a href="/blog/<%= index %>/edit"><button class="edit-blog-button">Edit</button></a>
        <a href="/blog/<%= index %>/delete"><button class="delete-blog-button">Delete</button></a>
    </div>
    <div class="blog-image-and-heading">
        <img src=<%= blog['image'] %> alt="" class="blog-image">
        <div class="title-and-description">
            <h1><%= blog["title"] %></h1>
            <h2><%= blog["description"] %></h2>
        </div>
    </div>
    <div class="blog-content-wrapper">
        <p class="blog-content">
            <%= blog["content"] %>
        </p>
    </div>
</div>

<%- include('./footer.ejs') %>