<!-- fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<!-- Styling -->
<link rel="stylesheet" href="/styles/styles.css">
<style>
    @media(max-width: 768px) {
        .create-blog-form-container {
            height: 100%;
        }
    }
</style>

<% var today = new Date(); %>
<% var date = `${today.getDate()}/` + `${today.getMonth() + 1}/` + `${today.getFullYear()}`; %>

<div class="create-blog-form-container">
    <form id="create-blog-form" action="/blog/<%= index %>/allow-changes" method="post">
        <!-- Name -->
        <label for="Name">Name</label><br><br>
        <input class="small-entries" type="text" id="name" name="name" required value="<%= oldBlog['name'] %>"><br><br>
        <!-- Passkey -->
        <label for="Name">Passkey</label><br><br>
        <input class="small-entries" type="text" id="passkey" name="passkey" required value="<%= oldBlog['passkey'] %>"><br><br>
        <!-- Date -->
        <label for="Date">Date</label><br><br>
        <input class="small-entries" type="text" id="date" name="date" value="<%= date %>" required><br><br>
        <!-- Title -->
        <label for="title">Title</label><br><br>
        <input class="small-entries" type="text" id="title" name="title" required value="<%= oldBlog['title'] %>"><br><br>
        <!-- Description -->
        <label for="description">Description</label><br>
        <em style="color: #2e353b; font-weight: normal; margin: 0px;">↪️One liner</em><br>
        <input class="small-entries" type="text" id="description" name="description" required value="<%= oldBlog['description'] %>"><br><br>
        <!-- Upload image box -->
        <label for="image">Image URL</label><br>
        <em style="color: #2e353b; font-weight: normal; margin: 0px;">↪️Recommendation : use horizontal images</em>
        <em style="color: #2e353b; font-weight: normal; margin: 0px;">↪️URL should end with .svg, .jpg or .png extension</em><br>
        <input class="small-entries" type="url" id="image" name="image" required value="<%= oldBlog['image'] %>"><br><br>
        <!-- Content -->
        <label for="content">Content</label><br><br>
        <textarea name="content" id="content" cols="30" rows="10" required></textarea><br><br>
        <!-- Sumbit Button -->
        <input class="button-submit" type="submit" value="Submit">
    </form>
</div>

<script>
    var textarea = document.getElementById("content");
    textarea.value = "<%= oldBlog['content'] %>";
</script>